<div>

  <ul>
    <li>入力に応答して入力チェックがかかります（日本語入力は確定時）</li>
    <li>入力チェック内容は必須入力、最小3文字、最大10文字、アルファベットのみ入力可</li>
    <li><code>input</code>イベントに応答して文字数がカウントされます</li>
    <li><code>focus</code>イベント、<code>blur</code>>イベント（フォーカスアウト）に応答して背景色が変化します</li>
  </ul>

  <input
    type="text"
    [class]="inputStatus"
    [formControl]="control"
    (focus)="focus()"
    (blur)="blur()"
    (input)="input()"
  ><span>{{length}}文字</span>
  <div *ngIf="isError()" class="error-message">
    <div *ngFor="let error of errors() | keyvalue">
      {{message(error)}}
    </div>
  </div>
</div>

